@import "./vendors/_normalize.scss";
@import "./base/base.scss";
@import "./utils/variables.scss";
@import "./utils/mixins.scss";

/* Version mobile */

.wrapper {
  max-width: 768px;
  margin: auto;
}

/* Header */

header img {
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Localisation */

.menu {
  text-align: center;
  &__localisation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    background: $localisation-top;
  }
  &__description {
    background: $localisation;
    padding-bottom: 75px;
    & h1 {
      margin-top: 0;
      padding: 30px 60px 0 60px;
      font-size: 22px;
    }
    & p {
      padding: 0 10px 0 10px;
      margin-bottom: 45px;
    }
  }
  &__btn {
    @include btn-color;
    margin-top: 50px;
    & a {
      color: $link-color;
    }
  }
}
/* Filtres */

.user {
  margin-top: 40px;
  margin-bottom: 50px;
  & h2 {
    margin-left: 20px;
  }
  &__filter {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    
    & a {
      @include box-shadow;
      background: $localisation;
      padding: 25px 35px 25px 40px;
      margin-left: 10px;
      margin-right: 20px;
      margin-bottom: 15px;
      border-radius: 15px;
      width: 100%;
      font-weight: bold;
    }
  }
  &__number {
    color: $link-color;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
    width: 5px;
    border-radius: 100px;
    padding: 10px;
    font-size: 12px;
    position: absolute;
    margin-top: 22px;
  }
}