@import "./vendors/_normalize.scss";
@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./utils/keyframes.scss";
@import "./base/base.scss";

/* Version mobile */

/* Ecran de chargement */

.loader-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: $background-color-body;
  z-index: 1000;
  opacity: 0.9;
  animation: loading 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.loader-wrapper__spinner {
  z-index: 1001;
  position: relative;
  z-index: 9999;
  font-size: 100px;
  display: flex;
  justify-content: center;
  top: 45%;
  animation: spin 3s ease-in;
}

/* Homepage */

.wrapper {
  width: auto;
  margin: 0;
}

/* Header */

header img {
  height: 25px;
  display: block;
  margin: 10px auto;
}

/* Localisation */

.explore {
  text-align: center;
  transition: $main-transform;
  &__localisation {
    background: $localisation-gradient;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
  &__description {
    background: $background-color-body;
    padding: $padding-explore-description;
    & h1 {
      padding: $padding-explore-title;
      font-size: $explore-title;
      margin: $zero-value;
    }
    & p {
      padding: $padding-explore-paragraph;
      margin-bottom: $margin-value-5;
    }
  }
  &__btn {
    @include btn-color;
    margin-top: 50px;
    & span {
      color: $font-color-link;
    }
    &:hover {
      @include btn-hover;
    }
  }
}
/* Filtres */

.user {
  margin: $margin-user;
  & h2 {
    margin-left: $margin-value-3;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  margin-left: $margin-value-2;
  & a {
    @include box-shadow;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    background: $background-color-body;
    padding: $padding-filter;
    border-radius: $radius-main;
    margin: $margin-filter;
    width: $main-width;
    font-weight: $bold-weight;
    cursor: help;
  }
  &__number {
    @include number-display;
    position: absolute;
  }
}

/* Sélection des restaurants */

.restaurants {
  background: $background-color-body;
  padding: $padding-restaurants;
  & h2 {
    margin-left: $margin-value-3;
  }
}

.card {
  @include box-shadow;
  background-color: $font-color-link;
  border-radius: $radius-main;
  margin: $margin-card;
  width: auto;
  height: 225px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  & img {
    border-radius: $radius-card;
    object-fit: cover;
    width: $main-width;
    height: 160px;
  }
  &__new {
    background: $tertiary-color;
    position: relative;
    float: right;
    margin-right: $margin-value-2;
    bottom: 150px;
    padding: $padding-novelty;
    border-radius: $radius-novelty;
    & span {
      color: $font-color-novelty;
      font-weight: $bold-weight;
    }
  }
  &__description {
    margin-left: $margin-value-2;
    & h3 {
      margin: $margin-card-title;
    }
    & p {
      margin: $margin-card-paragraph;
    }
  }
  &__btn-favorite {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: $margin-value-4;
    bottom: 40px;
    /* Icône des favoris dans le fichier "_base.scss" */
  }
}

/* Footer */

footer {
  background: $background-color-footer;
  padding: $padding-footer;
  & h2 {
    @include title-style;
    font-size: $font-size-footer;
    color: $font-color-footer;
    margin-top: $zero-value;
  }
  & a {
    color: $font-color-footer;
  }
}

.footer__proposition {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  & li {
    color: $font-color-footer;
  }
}

.footer__partnership {
  @extend .footer__proposition;
}

/* Pages 1 à 4 */

/* Header */

.header-pages {
  & img {
    text-align: center;
  }
}

/* Bannière photo */

.banner {
  & img {
    object-fit: cover;
    height: 250px;
    width: $main-width;
  }
}

/* Carte du restaurant */

.menu-restaurant {
  background: $background-color-body;
  margin-top: -45px;
  border-radius: $radius-restaurant;
  padding: $padding-menu-restaurant;
  position: relative;
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: $margin-menu-restaurant-title
  }
  & h1 {
    @include title-style;
    font-size: $restaurant-title;
    margin-top: $zero-value;
    margin-bottom: $zero-value;
  }
}

.menu-card {
  margin: $margin-menu-card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    margin-left: $margin-value-1;
    &:after {
      @include green-bar;
    }
  }
  & h2 {
    font-weight: $normal-weight;
    font-size: $font-size-footer;
    margin-top: $margin-value-4;
    margin-bottom: $margin-value-1;
  }
}

.menu-btn {
  @include box-shadow;
  display: flex;
  flex-direction: row;
  background: $font-color-link;
  border-radius: $radius-main;
  cursor: pointer;
  overflow: hidden;
  height: fit-content;
  margin-bottom: $margin-value-2;
  transition: all 2s;
  animation: topToBottom ease 2s;
  & h2 {
    font-weight: $bold-weight;
    font-size: $menu-title;
    font-size: $menu-title;
    margin: $zero-value;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  & span {
    margin-left: $margin-value-2;
    font-weight: bold;
  }
  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 100%;
    padding: $padding-menu-btn;
  }
  &__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & p {
      margin: $margin-menu-btn-paragraph;
      font-size: $menu-description;
    }
  }
  &__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover > .menu-btn__content {
    flex: 75%;
  }
  &:hover > .menu-btn__check {
    visibility: visible;
    flex: 25%;
    transition: 800ms;
  }
  &:hover .fa-check-circle {
    animation: spin 300ms ease-out;
  }
}

.menu-btn__check {
  flex: 0;
  color: $font-color-link;
  background-color: $tertiary-color;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
}

/* Effets d'apparition progressive */

.fade-in-entrees {
  animation: fadeInEntrees ease 2s;
}

.fade-in-dishes {
  animation: fadeInDishes ease 4s;
}

.fade-in-desserts {
  animation: fadeInDesserts ease 6s;
}

/* Bouton commande */

.btn-order {
  display: block;
  text-align: center;
  margin-top: $margin-value-5;
  transition: $main-transform;
  & a {
    @include btn-color;
    @include padding-btn-more;
    color: $font-color-link;
  }
  &:hover a {
    @include btn-hover;
  }
}

/* Version Tablettes */

@media all and (min-width: 768px) and (max-width: 992px) {
  .user h2 {
    text-align: center;
  }
  .filters-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .filter a {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .restaurants h2 {
    text-align: center;
  }
  .card {
    width: $card-width-tablet;
    margin: $margin-card-responsive
  }
  footer h2,
  footer a {
    margin-left: $margin-value-6;
  }
}

/* Pages Version Desktop */

@media all and (min-width: 992px) {
  .menu-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    width: auto;
  }
  .menu-restaurant__title {
    justify-content: center;
    & h1 {
      margin-right: $margin-value-7;
    }
  }
}

/* Pages Version Tablettes  */

@media all and (min-width: 768px) and (max-width: 992px) {
  .menu-restaurant {
    padding: $padding-menu-responsive;
  }
}

/* Versions Desktop */

@media only screen and (min-width: 992px) {
  .user h2 {
    text-align: center;
    margin-bottom: $margin-value-4;
  }
  .filters-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .filter a {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .restaurants {
    padding-left: $padding-responsive;
    padding-right: $padding-responsive;
    & h2 {
      text-align: center;
      margin-bottom: $margin-value-8;
    }
  }
  .cards-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: auto;
  }
  .card {
    width: $card-width-desktop;
    margin-bottom: $margin-value-8;
  }
  footer h2,
  footer a {
    margin-left: $margin-footer-responsive;
  }
  footer a {
    display: flex;
    flex-direction: row;
  }
}