/* Homepage version Tablettes */

@media all and (min-width: 768px) and (max-width: 992px) {
  .user h2 {
    text-align: center;
  }
  .filters-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .filter a {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .wrapper-cards {
    width: $main-width;
    background: $background-color-body;
  }
  .restaurants {
    width: $media-width;
    margin: $margin-wrapper;
    & h2 {
      text-align: center;
      margin-bottom: $margin-6;
    }
  }
  .card {
    margin-bottom: $margin-5;
  }
  .wrapper-footer {
    width: $main-width;
    background: $background-color-footer;
  }
  footer {
    width: $media-width;
    margin: $margin-wrapper;
  }
}

/* Pages Version Tablettes  */

@media all and (min-width: 768px) and (max-width: 992px) {
  .wrapper-menus {
    width: $main-width;
    background: $background-color-body;
    margin-top: $restaurant-margin-top;
    border-radius: $radius-restaurant;
    position: relative;
  }
  .menu-restaurant {
    width: $media-width;
    margin: $restaurant-margin-top auto 0 auto;
  }
}