@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* Bases du site */
* {
  font-family: Roboto;
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

/* Icône de localisation */
.fa-map-marker-alt {
  margin-right: 10px;
}

/* Icônes des filtres */
.fa-mobile-alt, .fa-store, .fa-list {
  font-size: 15px;
  margin-right: 20px;
  color: grey;
}

.fa-heart {
  font-size: 20px;
}

/* Icônes du Footer */
.fa-utensils, .fa-hands-helping {
  color: whitesmoke;
  margin-right: 5px;
  font-size: 12px;
}

/* Couleurs */
/* Couleurs liens */
/* Localisation */
/* Footer */
/* Version mobile */
.wrapper {
  max-width: 768px;
  margin: auto;
}

/* Header */
header img {
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Localisation */
.menu {
  text-align: center;
}
.menu__localisation {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  background: linear-gradient(to top, #e2e1e1 90%, #cecbcb);
}
.menu__description {
  background: #F2F2F2;
  padding-bottom: 75px;
}
.menu__description h1 {
  margin-top: 0;
  padding: 30px 60px 0 60px;
  font-size: 22px;
}
.menu__description p {
  padding: 0 10px 0 10px;
  margin-bottom: 45px;
}
.menu__btn {
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  box-shadow: 2px 3px 3px #c7c5c5;
  border-radius: 90px;
  /*margin: 30px 75px 30px 75px;*/
  padding: 15px;
  margin-top: 50px;
}
.menu__btn a {
  color: white;
}

/* Filtres */
.user {
  margin-top: 40px;
  margin-bottom: 50px;
}
.user h2 {
  margin-left: 20px;
}

.filter {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.filter a {
  box-shadow: 2px 3px 12px #c7c5c5;
  background: #F2F2F2;
  padding: 25px 35px 25px 40px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  width: 100%;
  font-weight: bold;
}
.filter__number {
  color: white;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
  width: 5px;
  border-radius: 100px;
  padding: 10px;
  font-size: 12px;
  position: absolute;
  margin-top: 22px;
}

/* Sélection des restaurants */
.restaurants {
  background: #F2F2F2;
  padding-top: 40px;
  padding-bottom: 50px;
}
.restaurants h2 {
  margin-left: 20px;
}

.card {
  box-shadow: 2px 3px 12px #c7c5c5;
  background-color: white;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  width: auto;
  height: 225px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}
.card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  height: 160px;
}
.card__new {
  background: #99E2D0;
  position: relative;
  float: right;
  margin-right: 10px;
  bottom: 150px;
  padding: 5px;
  border-radius: 2px;
}
.card__new span {
  color: #0f9271;
  font-weight: bold;
}
.card__description {
  margin-left: 10px;
}
.card__description h3 {
  margin: 7px 0 0 0;
}
.card__description p {
  margin: 0 0 7px 0;
}
.card__btn-favorite {
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
  margin-right: 30px;
  bottom: 40px;
}

/* Footer */
footer {
  background: #3f3e3e;
  padding: 25px 0 20px 25px;
}
footer h2 {
  font-family: Shrikhand;
  font-weight: normal;
  font-size: 16px;
  color: whitesmoke;
  margin-top: 0;
}
footer a {
  color: whitesmoke;
}

/*# sourceMappingURL=style.css.map */
