/* Bases du site */

* {
  font-family: Roboto;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

/* Icône du spin loader */

.fa-circle-notch {
  display: block;
  background: -webkit-linear-gradient($secondary-color, $primary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Icône de localisation */

.fa-map-marker-alt {
  margin-right: $margin-1;
}

/* Icônes des filtres */

.fa-mobile-alt {
  font-size: $icon-size-normal;
  margin-right: $margin-3;
  color: grey;
}

.fa-list {
  @extend .fa-mobile-alt;
}

.fa-store {
  @extend .fa-mobile-alt;
}

/* Icône des favoris */

.fa-heart {
  padding: $padding-heart;
  font-size: $icon-size-big;
  &:hover {
    display: block;
    background: -webkit-linear-gradient($secondary-color, $primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 350ms ease;
    transform: scale(1.2);
    font-weight: bold;
    cursor: pointer;
  }
}

/* Icônes du Footer */

.fa-utensils {
  color: whitesmoke;
  margin-right: $margin-base;
  font-size: $icon-size-footer;
}

.fa-hands-helping {
  @extend .fa-utensils;
}

/* Icône du header des pages restaurants */

.fa-arrow-left {
  margin-left: $margin-3;
  position: absolute;
  top: 15px;
}

/* Icône de l'animation des menus des pages restaurants */

.fa-check-circle {
  position: relative;
  color: $font-color-link;
  font-size: $icon-size-big;
  top: 30%;
}