/* Bases du site */

* {
  font-family: Roboto;
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

/* Icône de localisation */

.fa-map-marker-alt {
  margin-right: 10px;
}

/* Icônes des filtres */

.fa-mobile-alt {
  font-size: 15px;
  margin-right: 20px;
  color: grey;
}

.fa-list {
  @extend .fa-mobile-alt;
}

.fa-store {
  @extend .fa-mobile-alt;
}

.fa-heart {
  font-size: 20px;
}

/* Icônes du Footer */

.fa-utensils {
  color: whitesmoke;
  margin-right: 5px;
  font-size: 12px;
}

.fa-hands-helping {
  @extend .fa-utensils;
}