/* Bases du site */

* {
  font-family: Roboto;
  color: black;
}

a {
  text-decoration: none;
}

/* Icône de localisation */

.fa-map-marker-alt {
  margin-right: 10px;
}

/* Icônes des filtres */

.fa-mobile-alt {
  font-size: 15px;
  margin-right: 20px;
  color: grey;
}

.fa-list {
  @extend .fa-mobile-alt;
}

.fa-store {
  @extend .fa-mobile-alt;
}