/* Couleurs */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$background-color-body: #F2F2F2;
$background-color-footer: rgb(63, 62, 62);

$grey-light: rgb(226, 225, 225);
$grey-dark: rgb(206, 203, 203);
$grey-shadow: #c7c5c5;

/* Effet de dégradé */
$localisation-gradient: linear-gradient(to top, $grey-light 90%, $grey-dark);

/* Couleurs polices */
$font-color-link: white;
$font-color-novelty: #0f9271;
$font-color-footer: whitesmoke;

/* Tailles de polices */
$filter-number: 12px;
$menu-description: 14px;
$font-size-footer: 16px;
$menu-title: 18px;
$explore-title: 22px;
$restaurant-title: 28px;
$footer-desktop: 22px;

/* Tailles des icônes */

$icon-size-1: 15px;
$icon-size-2: 25px;
$icon-size-footer: 12px;

/* Padding */

$padding-explore-title: 30px 60px 0 60px;
$padding-explore-description: 0 0 75px 0;
$padding-explore-paragraph: 0 10px 0 10px;
$padding-filter: 25px 35px 25px 40px;
$padding-filter-number: 10px;
$padding-restaurants: 50px 0 50px 0;
$padding-novelty: 5px 10px 5px 10px;
$padding-footer: 25px 0 20px 25px;
$padding-menu-restaurant: 30px 0 80px 0;
$padding-menu-btn: 15px 10px 15px 10px;
$padding-heart: 1px;
$padding-menu-responsive: 5% 15% 10% 15%;
$padding-responsive: 10%;

/* Margin */

$margin-user: 50px 0 50px 0;
$margin-filter: 0 20px 15px 10px;
$margin-explore-paragraph: 15px 10px 65px 10px;
$margin-card: 0 20px 15px 20px;
$margin-card-title: 7px 0 0 0;
$margin-card-paragraph: 0 0 7px 0;
$margin-menu-restaurant-title: 0 20px 0 20px;
$margin-menu-card: 0 10px 0 10px;
$margin-menu-btn-paragraph: 5px 0 0 0;
$margin-card-responsive: 30px auto;
$margin-wrapper: 0 auto;

$margin-value-1: 5px;
$margin-value-2: 10px;
$margin-value-3: 20px;
$margin-value-4: 30px;
$margin-value-5: 65px;
$margin-value-6: 15%;
$margin-value-7: 15px;
$margin-value-8: 40px;
$margin-value-9: 50px;

/* Border radius */

$radius-main: 15px;
$radius-filter-number: 100px;
$radius-card: 15px 15px 0 0;
$radius-novelty: 2px;
$radius-restaurant: 30px 30px 0 0;

/* Autres valeurs */

$zero-value: 0;
$main-width: 100%;
$media-width: 75%;
$card-width-desktop: 40%;
$normal-weight: normal;
$bold-weight: bold;
$main-transform: transform 1s;
$ending-hover-btn: 500ms;
$transition-menu-icon: 200ms;
$transition-menu-check: 800ms;
$restaurant-margin-top: -45px;